@import url('https://fonts.googleapis.com/css2?family=Comfortaa');

* {
	font-family: 'Comfortaa', cursive;
}

body {
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	background-color: yellow;
	width: 100%;
	/*height: 4em;*/
	height: 8vh;
	display: flex;
}

.navigation {
	margin: 0.5em;
	padding: 0.5em;
	cursor: pointer;
	font-weight: bold;
}

#shop {
	margin-top: 0.8em;
}

.empty-cart {
	color: gray;
}

.counter {
	vertical-align: super;
    font-size: smaller;
}

main {
	/*margin-top: 4em;*/
	margin-top: 8vh;
	min-height: 92vh;
	display: flex;
}

.sidebar {
	min-width: max-content;
	padding-right: 2em;
	padding-left: 1em;
	background-color: orange;
}

.shop-name {
	width: 100%;
	text-align: center;
	border: solid red 2px;
	padding: 0.3em;
	cursor: pointer;
	font-weight: bold;
}

.chosen-shop {
	background-color: red;
	color: white;
}

.inaccessible-shop {
	color: gray;
	border-color: gray;
}

.goods {
	width: -webkit-fill-available;
	/*background-color: green;*/
}

.card {
	width: 250px;
	float: left;
	background-color: #ffd2d2;
	/*border: solid blue 2px;*/
	padding: 0.5em;
	margin: 0.5em;
}

.card img {
	width: 100%;
}

.product-name {
	float: left;
	margin: 0.3em;
}

.product-price {
	float: right;
	margin: 0.3em;
}

.to-cart {
	float: right;
	background-color: yellow;
    border: solid red 2px;
    cursor: pointer;
    font-size: 1em;
    padding: 0.2em;
}

.added-mode {
	background-color: green;
	border-color: green;
	color: white;
	font-weight: bold;
}

.cart {
	display: flex;
	width: -webkit-fill-available;
}

.form {
	margin: 1em;
    padding: 1em;
    border: 2px solid orange;
    border-radius: 3%;
    height: min-content;
}

.form p {
	margin-bottom: 0;
}

.error {
	border: 1px solid red;
}

.chosen-goods {
	width: -webkit-fill-available;
}

.cart-card {
	height: 150px;
}

.cart-card img {
	height: inherit;
	float: left;
}

/*.quant {
	width: 3em;
}*/

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*.submit {
	float: right;
}*/
